{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
  <div align="center"  style="background:#000000" class="jumbotron text-white">
    <h2 class="display-3">THIERRY BOISGARD</h2>
    <h3 class="display-3">MOULAGE</h3>
    <p class="lead"> </p>
    <img src="/images/accueil.jpg" alt="Image d'accueil" >
    <hr class="my-4">
    <p>A travers quelques réalisations, ce site vous propose une application possible du moulage</p>
    </h3><a href="/types" class="btn-dark btn-lg">Accueil</a>
  </div>
{% endblock %}